body{
	width: 800px;
	background-color: rgba(0,0,255,0.2);
	font-family: 'PT Sans Caption', sans-serif;
}

.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 42px;
}

.tip{
	font-size: 17px;
	margin-bottom: 15px;
}

form{
	font-size: 15px;
}

input{
	width: 200px;
	height: 15px;
	display: block;
	margin-bottom: 10px;
}

[name|="submit"]{
	width:205px;
}

[name|="passengers"]{
	display: inline;
	width: 28px;
}

.plane{
	height: 200px;
	width: 800px;
}
